//@import "icons/*.png";
// $icons-sprite-dimensions: true;

* { @include box-sizing(border-box); }

html {
  background: $white;
  font-size: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-y:scroll;
}

body {
  @extend  .f14;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
  font-family: $lato;
  line-height: 1.6;
  color: $text-color;
}

a{
  color: $link;
  text-decoration: none;
  font-family: $lato;
  @include transition(all .5s ease-in);
  &:hover,
  &:focus,
  &:active{
    text-decoration: underline;
  }
}
p{
  margin-top: 0;
  margin-bottom: 1em;
}
img{
  max-width: 100%;
  height: auto;
}
blockquote{
  margin-left: 0;
  padding-left: 1.5em;
  border-left: 5px solid $link;
  opacity: .95;
  
  p:first-child{
    font-style: italic;
  }
}
.menu{
  padding: 0 !important;
  margin: 0 !important;
}
.btn{
  border: none;
  background: $button;
  color:  $white;
  font-family: $lato;
  padding: .5em 1em;
  line-height: 1;
}
.item-list img {
  vertical-align: baseline;
} 