/*--------------*\
  $BASE
\*--------------*/
$base-font-size: 16;
$base-line-height: 24;
$base-spacing-unit: $base-line-height;
$half-base-spacing-unit: $base-line-height/2;
// FONTS FAMILY

$lato:  "lato", sans-serif;





// FONT COLOR

$white: #ffffff;
$black: #000000;
$text-color: #000000;
$link: rgb(16, 165, 235);
$button: #ED5D3B;

// FONT COLOR

.f14 {
	@include font-size(14);
}

