footer[role="contentinfo"] {
  background: rgb(75, 73, 73);
  margin: 0px;
  width: 100%;



     li{
      display: inline-block;
       }

     p{
       float:left;
       padding:0.5em 0em 0em 1em;
      }


}

