.front {
  .page {
    [role="main"] {
      h1 {
        display: none;
      }
    }
  }
}


//FRONT PAGE 
.front {
  .banner {

    #block-block-6 {
      position: absolute;
      z-index: 9;
      color: white;
      padding-top: 5em;
      font-size: 29px;
      right: 0;

      p {
        text-transform: uppercase;
        background: $brand;
        padding: 5px;
        border-radius: 20px 0px 0px 20px;
        z-index: 10;
      }
    }
  }
  .views-slideshow-cycle-main-frame-row-item {
    position: relative;

    .views-field-field-slide-text {
      position: absolute;
      bottom: 0;
      padding: 4em;

      .field-content {
        width: 30%;
        background: $black;
        color: $white;
        height: 8.5em;
        padding: 0.3em 1em;
        overflow: hidden;
        border-radius: 1em;
        text-align: center;
      }
    }
  }
}