//Default page titles
.page {
  [role="main"] {
    h1 {
      display: none;
      }
  }
}

.breadcrumb {
  display: none;
}


//FRONT PAGE 
.front {
  .banner {

      p {
        text-transform: uppercase;
        background: $brand;
        padding: 5px;
        border-radius: 20px 0px 0px 20px;
        z-index: 10;
      }
    }
    
  .views-slideshow-cycle-main-frame-row-item {
    position: relative;

    .views-field-field-slide-text {
      position: absolute;
      bottom: 0;
      padding: 4em;

      .field-content {
        width: 30%;
        background: $black;
        color: $white;
        height: 8.5em;
        padding: 0.3em 1em;
        overflow: hidden;
        border-radius: 1em;
        text-align: center;
      }
    }
  }
  #block-mailchimp-lists-drupal-kashmir-newsletter  {

    h2 {
      display: none;
    }
  }
  #block-block-7 {
    .title {
      text-align: center;
      text-transform: uppercase;
      font-size: 1.5em;
      font-weight: bold;
      border-bottom: 1px solid #cecece;
      margin:  0em 1em;
    }
    ul {
      margin: 0em 2em;
      li {
        width: 33%;
        @extend .f-left;
      }
    }
  }
}

//BLOG
.node-blog {
  margin-top: 3.5em;
}