//  Nullfication of some  mothership theme styles
.page {
  width: 100%;
}
div[role="main"] {
  padding: 0;
}
figure {
	margin: 0;
}

.default_title {
	display: none;
}

#first-time {
	display: none;
}
.header-region {
	nav, div { width: auto; }
}

#mailchimp-newsletter-drupal_kashmir_newsletter{
  div
  {
    display: none;
  }

  .form-required{
    display: block;
  }
}

//Page mothership theme nullification
.page {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
header[role="banner"] {
border-bottom: none;
}
.edit-actions {
  margin: 0;
}
.form-item, .form-actions {
  margin: 0;
}

#block-views-other-communities-block
{
  width: 33%;
  float: left;
}

#block-mailchimp-lists-drupal-kashmir-newsletter{
  width: 33%;
  float: right;
}
//Homepage banner
#views_slideshow_cycle_teaser_section_home_slideshow-block, #views_slideshow_cycle_div_home_slideshow-block_0 {
  width: 100%;
}


//FRONT PAGE 
.front {
  .banner {
    position: relative;
    margin-top: -2.6em;
    z-index: -9;

    #block-block-6 {
      position: absolute;
      z-index: 9;
      color: white;
      padding-top: 5em;
      font-size: 29px;
      right: 0;

      p {
        text-transform: uppercase;
        background: $brand;
        padding: 5px;
        border-radius: 20px 0px 0px 20px;

      }
    }
  }
}