footer[role="contentinfo"]

    {


        background: #F5876A;
        height: 533px;
        margin: -7px;

    }

 #block-block-5/*block for contact us */

    {

        width: 46%;
        margin-left: 117px;
        color: whiteSmoke;

        li
        {
            list-style-type: none;
        }


        .contextual-links-processed
        {


        }

         .cont
        {
            padding-top: 51px;
            font-size: 1.5em;
            font-family: "Maven Pro", Helvetica, Arial, sans-serif;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: 0.03125em;
            line-height: 1em;
            margin-bottom: 0.8em;
        }





    }

    #block-mailchimp-lists-drupal-kashmir-newsletter

        {   width: 25%;
            float: right;
            top: -197px;
            left: -57px;




             h2
              {
                display: none;
              }

        }

   #edit-mailchimp-lists-mailchimp-drupal-kashmir-newsletter-title

        {

            color: whiteSmoke;

            font-size: 18px;
        }


   .required
       {

            color: whitesmoke;

        }



#block-block-9 /* block for about us*/
       {
            width: 46%;
            margin-left: 117px;
            color: whiteSmoke;
            background: #3C3C3B;
            top: 0px;
       }

#block-block-10
        {
            width: 58%;
            margin-left: 117px;
            color: whiteSmoke;

            h2
                {
                    padding-top: 51px;
                    font-size: 1.5em;
                    font-family: "Maven Pro", Helvetica, Arial, sans-serif;
                    font-weight: 900;
                    text-transform: uppercase;
                    letter-spacing: 0.03125em;
                    line-height: 1em;
                    margin-bottom: 0.8em;

                }

        }
.primary_footer
        {
            background: #3C3C3B;
            height: 265px;
            margin-top: 16px;
        }

a{
    color: grey;
}

#block-block-11

        {
            width: 30%;
            float: right;
            bottom: 235px;


            li
            {  list-style-type: none;

            }

            h2
            {

            padding-top: 22px;
            font-size: 1.5em;
            font-family: "Maven Pro", Helvetica, Arial, sans-serif;

            text-transform: uppercase;
            letter-spacing: 0.03125em;
            line-height: 1em;
            margin-bottom: 0.8em;
            color: whitesmoke;
            }

        }
