footer[role="contentinfo"]

    {
        background: #F5876A;
        height: 351px;

    }

#block-block-5

    {

        width: 46%;
        margin-left: 117px;
        color: whiteSmoke;

        li
        {
            list-style-type: none;
        }
    }


