footer[role="contentinfo"]

    {


        background: #F5876A;
        height: 351px;

    }

.contextual-links-region/*class for contact us */

    {

        width: 46%;
        margin-left: 117px;
        color: whiteSmoke;

        li
        {
            list-style-type: none;
        }


        .contextual-links-processed
        {


        }

        p:nth-child(1)
        {
            padding-top: 51px;
            font-size: 1.5em;
            font-family: "Maven Pro", Helvetica, Arial, sans-serif;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: 0.03125em;
            line-height: 1em;
            margin-bottom: 0.8em;
        }



    }




