.views-field-field-event-text-image
{
    .field-content
    {
        width: 300px;
        position: absolute;
        top: 64px;
        background: grey;
        padding-left: 20px;
        right:0px;
        height: 142px;

        p:nth-child(1)
        {
            float:left;
            color: whiteSmoke;
            font-size: 36px;
            line-height: 1;
        }




        p:nth-child(2)
        {
            float:left;
            clear:both;
        }

        p:nth-child(3)
        {
            img
            {
               float: right;
               margin-top:-23px;
            }
        }
    }
}

 .views-field-field-slide-text
 {
     .field-content
     {
        position: absolute;
        width: 318px;
        top: 73px;
        left: 100px;
        color: whitesmoke;
        font-size: 36px;
        font-weight: bold;
     }
}
