.views-field-field-event-text-image
{
    .field-content
    {
        width: 200px;
        position: absolute;
        top: 64px;
        background: grey;
        padding-left: 20px;
        right:0px;


    }
}

 .views-field-field-slide-text
 {
     .field-content
     {
        position: absolute;
        background: grey;
        width: 318px;
        top: 133px;
        left: 100px;
     }
}
